div#copilot-suggestion-content {
  white-space: break-spaces;
  position: absolute;
  color: #999;
  font-style: italic;
  z-index: 1;
  font-size: 12px;
  line-height: 20px;
  left: 62px;

  div#copilot-suggestion-background {
    position: absolute;
    left: -5px;
    right: 0px;
    top: 19px;
    bottom: 1px;
    background-color: rgb(240, 240, 240);
    z-index: -1;
  }
}

div#copilot-side-panel {
  font-size: 14px;
  z-index: 100;
  width: 400px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  padding: 10px 20px;
  background: #fafafa;
  overflow-y: scroll;
}

p#copilot-original-content {
  white-space: break-spaces;
  overflow-y: auto;
  max-height: 30%;
  padding: 5px 10px;
  border: solid 1px;
  border-radius: 2px;
}

textarea#copilot-gpt-response {
  resize: none;
  width: 100%;
  padding: 5px 10px;
}

button#btn-copilot-close {
  float: right;
  margin-top: 7px;
  font-size: 14px;

  &:hover {
    background-color: #138a07;
  }
}

button#btn-copilot-load-more {
  font-size: 12px;

  &:hover {
    background-color: #138a07;
  }
}

div#copilot-similar-content a {
  font-weight: bold;
}

div#copilot-similar-content-loading-spinner {
  text-align: center;
  margin-top: 50px;
}

div#copilot-similar-content-loading-spinner,
div#copilot-improve-loading-spinner {
  text-align: center;
  margin-top: 50px;
}

div#copilot-toolbar {
  position: absolute;
  display: flex;
  padding: 2px 2px 2px 0;
  height: 30px;
  border-radius: 15px;
  z-index: 1000;
  background-color: #eee;
  filter: drop-shadow(0 0 1px black);
}

div#copilot-toolbar div.copilot-toolbar-button {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-color: rgb(7, 109, 53);
  margin-left: 2px;
  padding: 2px 5px 5px 5px;
  color: white;

  &:hover {
    background-color: rgb(24, 86, 52);
    filter: drop-shadow(0 0 0.5px black);
  }
}

div#copilot-toolbar div.copilot-toolbar-search {
  background-color: #3265b2;

  &:hover {
    background-color: #295392;
  }
}

div.loading {
  width: 24px;
  height: 24px;
  border: 5px solid rgba(0, 0, 0, 0);
  border-bottom-color: #138a07;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}